{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">List of Tasks</h3>

    <ul class="collapsible">

        {%  for task in tasks %}

        <li>
          <div class="collapsible-header white-text teal darken-4 text-shadow">
              <i class="fa-solid fa-caret-down"></i>
              <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
              {% if task.is_urgent == "on" %}
                <i class="fa-solid fa-exclamation light-blue-text text-lighten-2 tooltipped"
                data-position="right" data-tooltip="This task is urgent!"></i>
              {% endif %}
          </div>
          <div class="collapsible-body">
              <strong>{{ task.category_name }}</strong>
              <p>{{ task.task_description }}</p>
          </div>
        </li>

        {% endfor %}

    </ul>

{% endblock %}